<section id="about" class="section section-about">
  <div class="animate-up animated">
    <div class="section-box">
      <div class="profile">
        <div class="row">
          <div class="col-xs-5">
            <div class="profile-photo"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAO3AAAAJGYzMjQ1MWRkLTg2M2YtNDdiNC05YmI1LWU1YzEzMmZjNDA5Nw.jpg" alt=""></div>
          </div>
          <div class="col-xs-7">
            <div class="profile-info">
              <div class="profile-preword">
                <span>Hello</span>
              </div>
              <h1 class="profile-title">
                <span>I'm</span>
                Jure Polutnik</h1>
              <h2 class="profile-position">Software Engineer</h2>
            </div>
            <ul class="profile-list">
              <li class="clearfix">
                <strong class="title">Age</strong>
                <span class="cont">31</span>
              </li>
              <li class="clearfix">
                <strong class="title">Address</strong>
                <span class="cont">Ljubljana, Slovenia (SI)</span>
              </li>
              <li class="clearfix">
                <strong class="title">E-mail</strong>
                <span class="cont">jure [dot] polutnik [at] gmail [dot] com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile-social">
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/in/jure-polutnik-69963799" target="_blank">
              <i class="icon icon-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/jurepolutnik/" target="_blank">
              <i class="icon icon-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.stackoverflow.com/users/289043/jure-polutnik" target="_blank">
              <i class="icon icon-stackoverflow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
        <div class="profile-btn">
            <a class="btn btn-border ripple" href="{{site.social_linkedin}}" target="_blank">Download Resume</a>
        </div>

        <div class="profile-text">
        <p>Hello! I’m Jure Polutnik.
          Goal-oriented, analytical problem solver, constantly learning and growing, with more than ten years experience in software development with good foundation in computer science. Worked in agile and fast-paced environments as well as on academic and research projects, being able to quickly adapt to new surroundings and circumstances, learn new skills and produce desired results.
        </p>
        </div>
</section>
