<section id="about" class="section section-about">
  <div class="animate-up animated">
    <div class="section-box">
      <div class="profile">
        <div class="row">
          <div class="col-xs-5">
            <div class="profile-photo"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAO3AAAAJGYzMjQ1MWRkLTg2M2YtNDdiNC05YmI1LWU1YzEzMmZjNDA5Nw.jpg" alt=""></div>
          </div>
          <div class="col-xs-7">
            <div class="profile-info">
              <div class="profile-preword">
                <span>Hello</span>
              </div>
              <h1 class="profile-title">
                <span>I'm</span>
                Jure Polutnik</h1>
              <h2 class="profile-position">Software Engineer</h2>
            </div>
            <ul class="profile-list">
              <li class="clearfix">
                <strong class="title">Age</strong>
                <span class="cont">29</span>
              </li>
              <li class="clearfix">
                <strong class="title">Address</strong>
                <span class="cont">24058, Belgium, Brussels, Liutte 27, BE</span>
              </li>
              <li class="clearfix">
                <strong class="title">E-mail</strong>
                <span class="cont">robertsmith@company.com</span>
              </li>
              <li class="clearfix">
                <strong class="title">Phone</strong>
                <span class="cont">+1 256 254 84 56</span>
              </li>
              <li class="clearfix">
                <strong class="title">Freelance</strong>
                <span class="cont">till March 25, 2016</span>
              </li>
              <li class="clearfix">
                <strong class="title">
                  <span class="button">Vacation</span>
                </strong>
                <span class="cont">
                  <i class="rsicon rsicon-calendar"></i>till April 15, 2016</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile-social">
        <ul class="social">
          <li>
            <a href="https://www.twitter.com/" target="_blank">
              <i class="rsicon rsicon-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="rsicon rsicon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://dribbble.com/" target="_blank">
              <i class="rsicon rsicon-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="rsicon rsicon-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/" target="_blank">
              <i class="rsicon rsicon-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/" target="_blank">
              <i class="rsicon rsicon-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
        <div class="profile-btn">
            <a class="btn btn-border ripple" href="{{site.social_linkedin}}" target="_blank">Download Resume</a>
        </div>

        <div class="profile-text">
      <p>Hello! I’m Robert Smith. Senior Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, SQL, and C.
        Stng background in project management and customer relations.</p>
        </div>
</section>
