<section id="skills" class="section section-skills">
  <div class="animate-up">
    <h2 class="section-title">Professional  Skills</h2>
    <div class="section-box">

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Web Development</span>
              <span class="bar-value">1%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="1%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Application Development</span>
              <span class="bar-value">1%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="1%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Object Oriented Programming</span>
              <span class="bar-value">2%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="2%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Functional Programming</span>
              <span class="bar-value">3%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="3%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Version controll systems</span>
              <span class="bar-value">5%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="5%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Build tools & Task runners</span>
              <span class="bar-value">8%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="8%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Continious Integration & Delivery</span>
              <span class="bar-value">13%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="13%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">DevOps (Docker, Linux, etc.)</span>
              <span class="bar-value">21%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="21%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Cloud environment (IaaS/PaaS)</span>
              <span class="bar-value">34%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="34%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Algorithms</span>
              <span class="bar-value">55%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="55%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Computer science</span>
              <span class="bar-value">89%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="89%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title">Fibonacci numbers</span>
              <span class="bar-value">144%</span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="144%"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #skills -->
