<!DOCTYPE html>
<html class="theme-color-33d685 light_skin desktop cssall cssgradients rgba
opacity supports textshadow cssanimations bgrepeatround bgrepeatspace boxshadow
csstransforms csstransforms3d csstransitions">

  {% include head.html %}

  <body class="home page page-id-310 page-template page-template-page-home
  page-template-page-home-php header-has-img masthead-fixed">

    <div class="wrapper">
      {% include header.html %}

      <div class="content">
        <div class="container">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div.

  <!-- JS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <!-- inject:js -->
  <!-- endinject -->

  </body>

</html>
